

<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
</head>
<style>
#Wrapp {
    opacity: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10000;
}

#tt{

    width: 50%;
    height: 75%;
    margin: 50px auto auto auto;
    background-color: #7f8c8d;
    position: relative;
    padding: 30px;
    border: whitesmoke solid 1px;
}
button.close {
    cursor: pointer;
    position: absolute;
    color: darkblue;
    padding:0px 10px;
    right: 2%;
    top: 2%;
}
</style>
<body background="src/assets/White-Background-9B1.jpg">

<link rel="stylesheet" type="text/css" href="stylesheet.css">

<script>
    var Cart = {
        _items: {},
        _subscribers: [],

        add: function(product, qty) {
            if (Cart._items[product.id]) {
                Cart._items[product.id].qty += qty;
            } else {
                var prodInfo = JSON.parse(JSON.stringify(product));
                prodInfo.qty = qty;
                Cart._items[product.id] = prodInfo;
            }
            Cart._subscribers.forEach(function(func) { func(Cart); });
        },
        remove: function(product_id) {
            delete Cart._items[product_id];
            Cart._subscribers.forEach(function(func) { func(Cart); });
        },
        count: function() {
            return Object.keys(Cart._items).reduce(function(i1, i2) {
                return i1 + Cart._items[i2].qty;
            }, 0);
        },
        total: function() {
            return Object.keys(Cart._items).reduce(function(i1, i2) {
                return i1 + Cart._items[i2].qty * Cart._items[i2].price;
            }, 0);
        },
        getItems: function () {
            return Object.keys(Cart._items).map(function(productId) {
                return Cart._items[productId];
            });
        },
        subscribe: function(renderer) {
            Cart._subscribers.push(renderer);
        }
    };

//
//    <a href="#%(product_id)s" onClick="removeItem(this)">X</a>

 function removeItem(element) {
     var product_id = element.hash.substring(1);
     Cart.remove(product_id);
 }


    Cart.subscribe(function(cart) {
        renderCart(cart.getItems());
        if (cart.count() == 0) {
            closePopup('Wrapp');
        }
    });

    Cart.subscribe(function (cart) {
        renderHeaderCart(cart.count());

    })

    Cart.subscribe(function (cart) {
        totalCart(cart.total());
    })
</script>

<script>
    function openPopup(popupId) {
        var popup = document.getElementById(popupId);
//        if (Cart.count() == 0) return false;
        popup.style.display = 'block';
    }

    function closePopup(popupId) {
        var popup = document.getElementById(popupId);
        popup.style.display = 'none';
    }
</script>
<script>
    function incProduct(element) {
        var qty = element.parentNode.querySelector('.qty');
        qty.value = parseInt(qty.value) + 1;
    };
    function decProduct(element) {
        var qty = element.parentNode.querySelector('.qty');
        qty.value = parseInt(qty.value) - 1;
    };

    function buyItem(productInfo, qtyEl) {
        var qty = parseInt(qtyEl.value) || 0;
        Cart.add(productInfo, qty);
        qtyEl.value = 0;
    }

    function loadProducts() {
        var xhr = new XMLHttpRequest();

        xhr.open('GET', 'http://localhost:8081/products.json', true);
        xhr.onreadystatechange = function (e) {
            if(this.readyState == 4 && this.status < 400){
                window.products =  JSON.parse(xhr.responseText);
                render(window.products);
            }
        };
        xhr.send();
    }

    function searchByName(q) {
        if (q.length == 0) {
            render(window.products);
            return false;
        }
        if (q.length < 2) return false;
        var products = window.products.filter(function (product) {
            return product.display_name.indexOf(q) > -1;
        });
        render(products);
    }
    function sortByPrice() {
        return window.products.concat([]).sort(function (a, b) {
            return a.price - b.price;
        });
    }

    function  sortByName() {
        return window.products.concat([]).sort(function (a, b) {
            return a.display_name.toLowerCase().localeCompare(b.display_name.toLowerCase());
        });
    }

    function sortBy(by) {
        var sorters = {
            'price': sortByPrice,
            'name': sortByName
        };
        if (sorters[by]) {
            var products = sorters[by]();
            render(products);
        }
    }

    loadProducts();
</script>

<div id="Main">

    <div id="Wrapp" style="display:none">
        <div id='tt'><button class="close" onclick="closePopup('Wrapp')">X</button>
            <table id="cart-list"></table>
            <div id="total-header" align="right"></div>
        </div>
    </div>


    <h3>Awesome Shopping Cart
        <div id="cart-header" align="right"></div>
        <img src="cart.png" height="4%" width="4%" onclick="openPopup('Wrapp'); return false;">
    </h3> <hr>
    <div class="filter">
        <center>
            <input type="text" id="search" value="">
            <button onclick="searchByName(search.value); return false;">Search</button>
            <select onchange="sortBy(this.value)">
                <option value="price">Price</option>
                <option value="name">Name</option>
            </select>
        </center>
    </div>
    <div id="products-list"></div>


<script id="product-template" type="custom/template">
    <h3>%(display_name)s</h3>
    <img src="%(image)s" height="10%" width="10%">
    <center>
        <p>%(price)s $</p>
    </center>
    <div>
        <div><label>Quantity: </label><input id="qty%(id)s" class="qty" type="text" value="0" readonly /></label></div>
        <button onclick="incProduct(this)">+</button>
        <button onclick="decProduct(this)">-</button>
    </div>
    <button onclick='buyItem(%(productInfo)s, qty%(id)s); return false;'>Buy</button>
</script>

<script id="cart-items" type="custom/template">
    <h3>Quantity: %(qty)s</h3>
</script>
   
   
<script id="total" type="custom/template">
        <h3>Total: %(total)s</h3>
</script>

<script id="cart-item-template" type="custom/template">
    <td>%(display_name)s</td>
    <td>%(price)s</td>
    <td>%(qty)s</td>
    <td>
        <a class="removeItem" href="#%(id)s" onClick="removeItem(this); return false;">X</a>
    </td>
</script>

<script>
    function totalCart(total) {
        var context = {
            total: total
        };
        var el = document.createElement('div');
        var template = document.getElementById('total');
        el.innerHTML = template.textContent.replace(/%\((.+?)\)s/gm, function(str, p1) {
            if (context.hasOwnProperty(p1)) {
                return context[p1];
            }
            return str;
        });
        var content = document.getElementById('total-header');

        content.innerHTML = '';
        content.appendChild(el);
    }
</script>
<script>
    function renderHeaderCart(count) {
        var context = {
            qty: count
        };
        var el = document.createElement('div');
        var template = document.getElementById('cart-items');
        el.innerHTML = template.textContent.replace(/%\((.+?)\)s/gm, function(str, p1) {
            if (context.hasOwnProperty(p1)) {
                return context[p1];
            }
            return str;
        });
        var content = document.getElementById('cart-header');

        content.innerHTML = '';
        content.appendChild(el);
    }
    renderHeaderCart(0);
</script>

<script>

    function renderCart(products) {
        var frag = document.createDocumentFragment();
        var template = document.getElementById('cart-item-template');
        products.forEach(function (product) {
            var el = document.createElement('tr');
            el.innerHTML = template.textContent.replace(/%\((.+?)\)s/gm, function(str, p1) {
                if (product.hasOwnProperty(p1)) {
                    return product[p1];
                }
                return str;
            });
            frag.appendChild(el)
        });
        var content = document.getElementById('cart-list');

        var thead = [
            '<tr>',
                '<th>Product</th>',
                '<th>Quantity</th>',
                '<th>Price</th>',
                '<th></th>',
            '</tr>',
        ].join('');
        content.innerHTML = thead;
        content.appendChild(frag);
    }
</script>

<script>

    function render(products) {
        var frag = document.createDocumentFragment();
        var template = document.getElementById('product-template');
        products.forEach(function (product) {
            var el = document.createElement('div');
            el.className = 'col col-3 product-item';
            var context = JSON.parse(JSON.stringify(product));
            context.productInfo = JSON.stringify(product);
            el.innerHTML = template.textContent.replace(/%\((.+?)\)s/gm, function(str, p1) {
                if (context.hasOwnProperty(p1)) {
                    return context[p1];
                }
                return str;
            });
            frag.appendChild(el);
        });
        var content = document.getElementById('products-list');

        content.innerHTML = '';
        content.appendChild(frag);
    }
</script>

</div>





</body>

</html>

<!--popup + show and hide popup -->
<!--search,  filter, order -->



<!--concat array(products) -->
<!--renderer  search,  filter, order -->
