<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>

<body>

<script src="../src/cart.js"></script>

<script src="../src/popup.js"></script>

<script src="../src/main_functions.js"></script>

<div class="container">
    <div class="site-container">
        <div class="site-pusher">
            <header class="header">
                <a href="#" class="header__icon" id="header__icon"></a>
                <a href="#" class="header__logo">
                    Pokemon
                    <img src="../images/i-site-logo_icon.png" height="60px" width="60px">
                </a>
                <nav class="menu">
                    <a href="index.html">Home</a>
                    <a href="main.html">Products</a>
                    <a href="#">Info</a>
                    <a href="contacts.html">Contact</a>
                </nav>
                <!--<a href="#" class="btn btn-info btn-lg">-->
                    <!--<span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart-->
                <!--</a>-->
                <!--<button type="button" class="btn btn-default btn-sm"  >-->
                    <!--<span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart-->
                <!--</button>-->
                <p style="float: right">
                    <img style="float: right" src="../images/cart.png" height="60px" width="60px" onclick="openPopup('Wrapp'); return false;">
                </p>
            </header>
        <div class="site-cache" id="site-cache"></div>
        </div> <!-- END site-pusher -->
    </div>
        <div id="Wrapp" style="display:none">
            <div id='tt'>
                <button class="close" onclick="closePopup('Wrapp')">X</button>
                <table id="cart-list"></table>
                <div class="total" id="total-header"></div>
                <button  onclick="purchase('Wrapp')">Buy</button>
            </div>
        </div>
    <div class="filter" style="margin-top: 10%">
            <input class="search_input" type="search" id="search" value="" oninput="searchByName(search.value); return false;">
            <select class="form-control" style="float: right" onchange="sortBy(this.value)">
                <option value="price">Price</option>
                <option value="name">Name</option>
            </select>

    </div>
    <div id="products-list"></div>

    <script id="product-template" type="custom/template">
    <h3>%(display_name)s</h3>
    <img src="%(image)s" height="100%" width="100%">
    <center>
        <p>%(price)s $</p>
    </center>
    <div>
        <div class="row"><label>Quantity: </label><input style="max-width: 70%" id="qty%(id)s" class="qty" type="text" value="0" readonly /></label></div>
        <a style="max-width: 25%; max-height: 5%" class="btn btn-lg btn-light text-center" onclick="incProduct(this)">+</a>
        <a style="max-width: 25%; max-height: 5%" class="btn btn-lg btn-dark text-center" onclick="decProduct(this)">-</a>
    </div>
    <button class="buy" onclick='buyItem(%(productInfo)s, qty%(id)s); return false;'>Buy</button>
</script>

<script id="cart-items" type="custom/template">
    <h3>Quantity: %(qty)s</h3>
</script>
   
   
<script id="total" type="custom/template">
        <h3>Total: %(total)s</h3>
</script>

<script id="cart-item-template" type="custom/template">
    <td>%(display_name)s</td>
    <td>%(price)s</td>
    <td>%(qty)s</td>
    <td>
        <a class="removeItem" href="#%(id)s" onClick="removeItem(this); return false;">X</a>
    </td>
</script>

<script src="../src/total_cart.js"></script>

<script src="../src/render_header_cart.js"></script>

<script src="../src/render_cart.js"></script>

<script src="../src/render_products.js"></script>

</div>



</body>

</html>
